:root {
  --wrapper-width: 1920px;
  --container-width: 1328px;

  --font-default: Inter, sans-serif;

  --bg-body: #f2f2f2;
  --main-color: #4362a0;
  --text-color: #333;
  --title-color: #212121;
}
